<section class="container-fluid p-5 bg-info  align-items-center">
  <nav class="row justify-content-center bg-light">nav nav nav</nav>
</section>
<section class="container-fluid bg-secondary">
  <div class="container row align-items-center justify-content-center p-5">
    <div class="hh  col-md-4 offset-md-2 bg-primary">.col</div>
    <div class="hh  col-md-4 offset-md-2 bg-primary">.col</div>
  </div>
</section>
<section class="container-fluid bg-success">
  <div class="sec2 container row align-items-center justify-content-center p-5">
    <div class="hh col-md-3 offset-md-1 bg-primary">
      .col
    </div>
    <div class="hh col-md-3 offset-md-1 bg-primary">
      .col
    </div>
    <div class="hh col-md-3 offset-md-1 bg-primary">
      .col
    </div>
  </div>
</section>
<footer class="container-fluid bg-dark bg-gradient"></footer>