<section class="container-fluid p-5 bg-info  align-items-center">
  <nav class="row justify-content-center bg-light">Cambios de pruebaaaaaaaaaaaaaaaa</nav>
</section>
<section class="container-fluid bg-secondary">
  <div class="card text-center" style="width: 18rem;">
    <img src="/src/assets/img/ff.jpg" class="img-fluid" alt="fofooo">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhereeee</a>
    </div>
  </div>
</section>
<section class="container-fluid bg-success">
  <div class="sec2 container row align-items-center justify-content-center p-5">
    <div class="hh col-md-3 offset-md-1 bg-primary">
      .col
    </div>
    <div class="hh col-md-3 offset-md-1 bg-primary">
      .col
    </div>
    <div class="hh col-md-3 offset-md-1 bg-primary">
      .col
    </div>
  </div>
</section>
<section class="container-fluid">
  <div class="alert alert-dark" role="alert">
  A simple dark alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>
</section>

<footer class="container-fluid bg-dark bg-gradient"> footer footer footer</footer>